@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

/* Apply Gothic Condensed font (Oswald) to all text by default */
body {
    font-family: 'Oswald', sans-serif;
}

/* External Link Button remains with Orbitron */
.external-link-button {
    border: none;
    background-color: #212121; /* Dark grey background for buttons */
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Orbitron', sans-serif;
}

/* Center the navbar links */
.navbar-collapse {
    justify-content: center;
}

/* Dark background for the navbar */
.navbar {
    background-color: #333; /* Dark grey for a sleek look */
}
