@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

/* Apply Gothic Condensed font (Oswald) to all text by default */
body {
    font-family: 'Oswald', sans-serif !important;
}

/* External Link Button remains with Orbitron */
.external-link-button {
    border: none;
    background-color: #212121; /* Dark grey background for buttons */
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Orbitron', sans-serif;
}

/* Force navbar link text to be white */
.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #ccc !important; /* Light grey on hover */
}

.motorsport {
    color: rgb(231, 50, 54) !important; /* Force first part of brand text to be red */
}

.manager {
    color: white !important; /* Force second part of brand text to be white*/
}

/* Center the navbar links */
.navbar-collapse {
    justify-content: center;
}

.about-section {
    justify-content: center;
    text-align: center;
}

.about-section .text {
    text-align: center;
    background-color:rgb(191, 203, 211) !important;
    padding: 10px;
    margin: 4px 2px;
    border: 2px solid #212121; /* Dark grey border */
    border-radius: 5px;
    font-size: 18px;
}

.updates-section {
    justify-content: center;
    text-align: center;
    background-color:rgb(191, 203, 211) !important;
    padding: 10px;
    margin: 4px 2px;
    margin-top: 10px;
    border: 2px solid #212121; /* Dark grey border */
    border-radius: 5px;
    font-size: 16px;
}

.timeline-item1 {
    background-color: rgb(255, 241, 241) !important;
    border: 2px solid #212121; /* Dark grey border */
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.timeline-item2 {
    background-color: rgb(255, 249, 229) !important;
    border: 2px solid #212121; /* Dark grey border */
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.timeline-item3 {
    background-color: rgb(218, 225, 230) !important;
    border: 2px solid #212121; /* Dark grey border */
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.timeline-item4 {
    background-color: rgb(177, 184, 189) !important;
    border: 2px solid #212121; /* Dark grey border */
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.timeline-item5 {
    background-color: rgb(159, 165, 191) !important;
    border: 2px solid #212121; /* Dark grey border */
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}
